<div class="backdrop"></div>
<header class="main-header" style="background-color: rgb(175, 77, 199);">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/review' ? 'active' : '' %>" href="/givereview" style="color: aliceblue;">
                    <h2>Give Review</h2>
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/reviews' ? 'active' : '' %>" href="/viewreview" style="color: aliceblue;">
                    <h2>View Review</h2>
                </a>
            </li>
        </ul>
    </nav>
</header>