<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Welcome to Company Reviews </h1>
    <hr>
    <p>Here, you can <strong>Give</strong> review to any company <br>And also you can <strong>View</strong> review of any company</p>
    <hr>
    <h3>Hoping, This will be helpful for you</h3>
    <footer>Thank You</footer>

<%- include('includes/end.ejs') %>